@import url('./theme.css');
@import url('./unreset.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --grid-gutter-x: 2rem;
    --grid-gutter-y: 0;
    --header-height: 82px;
    --mobile-nav-height: 72px;
  }

  html {
    @apply font-lato;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: text;
  }

  @media (min-width: 1024px) {
    :root {
      --header-height: 90px;
    }
  }
}

@layer utilities {
  .focus-primary {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary;
  }

  .no-focus {
    @apply focus-visible:outline-none focus-visible:outline-offset-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply ring-1 ring-secondary-3 focus-within:ring-2 focus:ring-2 focus-within:ring-secondary focus:ring-secondary border-none;
  }

  .active-theme {
    filter: brightness(0) saturate(100%) invert(56%) sepia(72%) saturate(464%) hue-rotate(155deg) brightness(102%)
      contrast(95%) !important;
  }
}

.swiper-pagination-bullet {
  @apply w-4 rounded-md max-md:h-1;
}

.swiper-pagination-bullet-active {
  @apply w-8 bg-primary-red;
}

.swiper-pagination-horizontal {
  @apply max-md:!bottom-0;
}

.swiper-button-disabled {
  @apply !hidden;
}

.swiper-btn-prev {
}

.swiper-btn-next {
}
