@import url('./theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grid-gutter-x: 2rem;
  --grid-gutter-y: 0;
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }

  .focus-primary {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary;
  }

  .no-focus {
    @apply focus-visible:outline-none focus-visible:outline-offset-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .active-theme {
    filter: brightness(0) saturate(100%) invert(56%) sepia(72%) saturate(464%) hue-rotate(155deg) brightness(102%)
      contrast(95%) !important;
  }
}
