@import url('./theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --breadcrumb: 0 0% 100%; /* #FFFFFF - Light-1 */
    --breadcrumb-foreground: 245.45 5.95% 63.73%; /* #9E9DA8 - Secondary-2 */
    --breadcrumb-last: 250 35.29% 13.33%; /* #1A162E - Secondary-1 */

    --container-gutter: 1.875rem; /* 30px */
    --section-gutter: 1.25rem; /* 20px */
    --section-padding: 1rem; /* 16px */
    --breadcrumb-padding: 1rem; /* 16px */
    --header-height: 5.125rem; /* 82px */
    --mobile-nav-height: 4.5rem; /* 72px */

    /* Cách định nghĩa lại CSS var trong Tailwind [--header-height:500px] */
    @apply md:[--section-gutter:1.875rem] /* 30px */
      md:[--section-padding:1.875rem] /* 30px */
      md:[--breadcrumb-padding:1.25rem] /* 20px */
      lg:[--header-height:5.625rem] /* 90px */;

    .dark {
      --breadcrumb: 222.35, 26.98%, 12.35%; /* #171C28 - Dark-1 */
      --breadcrumb-foreground: 245.45 5.95% 63.73%; /* #9E9DA8 - Secondary-2 */
      --breadcrumb-last: 0 0% 100%; /* #FFF - Light-1 */
    }
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: text;
  }

  body {
    @apply bg-background text-foreground font-montserrat antialiased;
  }
}

@layer utilities {
  .focus-primary {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary;
  }

  .no-focus {
    @apply focus-visible:outline-none focus-visible:outline-offset-0 focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
  }

  .input-ring {
    @apply ring-1 ring-secondary-3 focus-within:ring-2 focus:ring-2 focus-within:!ring-secondary focus:!ring-secondary !border-none;
  }
}

.swiper-pagination-bullet {
  @apply w-4 rounded-md max-md:h-1;
}

.swiper-pagination-bullet-active {
  @apply w-8 bg-primary-red;
}

.swiper-pagination-horizontal {
  @apply max-md:!bottom-0;
}

.swiper-button-disabled {
  @apply !hidden;
}

.swiper-btn-prev {
}

.swiper-btn-next {
}
