@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96.47%; /* #F6F6F6 - Light-2 */
    --foreground: 250 35.29% 13.33%; /* #1A162E - Secondary-1 */

    --shadow-primary: 0px 20px 60px 10px rgb(237 237 246 / 0.2);

    --shadow-floating: 0px 40px 90px 20px rgb(200 200 200 / 0.4);

    --active-category: 209.18 100% 43.14% /* '#0071DC' - Primary-blue */;
  }

  .dark {
    --background: 221.25 16.33% 19.22%; /* #292E39 - Dark-2 */
    --foreground: 0 0% 100%; /* #FFF - Light-1 */

    --shadow-primary: 0px 20px 60px 10px rgb(23 28 40 / 0.2);

    --shadow-floating: 0px 40px 90px 20px rgb(0 0 0 / 0.4);

    --active-category: 186.49 68.94% 68.43% /* #77DAE6 - Secondary-DEFAULT */;
  }
}

@layer utilities {
  html {
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(67%) saturate(647%) hue-rotate(211deg) brightness(96%)
      contrast(96%);
  }

  html.dark {
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(14%) sepia(29%) saturate(432%) hue-rotate(182deg)
      brightness(95%) contrast(90%);
    --icon-color: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(7489%) hue-rotate(40deg) brightness(99%)
      contrast(105%);
  }

  .dropdown-arrow {
    filter: var(--dropdown-arrow-color);
  }

  .icon-filter {
    filter: var(--icon-color);
  }

  .border-secondary3_secondary2 {
    @apply border-secondary-3 dark:border-secondary-2;
  }

  .border-secondary3_dark3 {
    @apply border-secondary-3 dark:border-dark-3;
  }

  .border-secondary3_dark2 {
    @apply border-secondary-3 dark:border-dark-2;
  }

  .background-light3_dark1 {
    @apply bg-light-3 dark:bg-dark-1;
  }

  .background-light2_dark1 {
    @apply bg-light-2 dark:bg-dark-1;
  }

  .background-light2_dark2 {
    @apply bg-light-2 dark:bg-dark-2;
  }

  .background-light1_dark1 {
    @apply bg-light-1 dark:bg-dark-1;
  }

  .background-light1_dark2 {
    @apply bg-light-1 dark:bg-dark-2;
  }

  .background-secondary3_dark2 {
    @apply bg-secondary-3 dark:bg-dark-2;
  }

  .text-secondary1_light1 {
    @apply text-secondary-1 dark:text-light-1;
  }

  .text-secondary1_light3 {
    @apply text-secondary-1 dark:text-light-3;
  }

  .text-secondary1_secondary3 {
    @apply text-secondary-1 dark:text-secondary-3;
  }

  .text-secondary1_dark3 {
    @apply text-secondary-1 dark:text-dark-3;
  }

  .text-secondary2_light3 {
    @apply text-secondary-2 dark:text-light-3;
  }

  .text-secondary2_dark3 {
    @apply text-secondary-2 dark:text-dark-3;
  }

  .text-secondary3_light3 {
    @apply text-secondary-3 dark:text-light-3;
  }

  .text-secondary3_dark3 {
    @apply text-secondary-3 dark:text-dark-3;
  }

  .text-dark_light3 {
    @apply text-dark dark:text-light-3;
  }

  .background-secondary6_dark1 {
    @apply bg-secondary-6 dark:bg-dark-1;
  }

  .background-secondary6_dark2 {
    @apply bg-secondary-6 dark:bg-dark-2;
  }
}
